AnchorPane {
    -fx-pref-height: 400px;
    -fx-pref-width: 600px;
}

.table-view {
    -fx-pref-height: 350px;
    -fx-pref-width: 1000px;
}

TableColumn {
    -fx-pref-width: 75px;
}


.button {
    -fx-pref-width: 300px;
    -fx-background-color: rgba(136, 136, 220, 0.53);
}

VBox {
    -fx-spacing: 5;
}